.container {

  display: block;
  margin: auto;
  
}

.flex-1 {
    width: 250px;
    margin: 10px;
    background-color: #2E405A;
    align-self: unset;
    margin: auto;
    position: absolute;
}

.flex-rect {
    position: absolute;
    left: 6.86%;
    right: 6.86%;
    top: 4.03%;
    bottom: 45.3%;
    background: url(.png);
    border-radius: 8px;

}

.flex-rectangle {
    display: block;  
    width: 350px;
    height: 596px;
    radius: 15px;
    color: #15263F;
    position: absolute;
    background-color: #15263F;
    box-shadow: 0px 25px 50px;
    border-radius: 15px;
    margin: auto;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.flex-equilibrium {
    background:  url(image-equilibrium.jpg);
    background-size:302px;
    width: 302px;
    height: 302px;
    left: 6.86%;
    right: 6.86%;
    top: 4.03%;
    bottom: 45.3%;
    }

.flex-avatar {
    top:531px;
    width: 33px;
    height: 33px;
    left: 24px;
    background: url(image-avatar.png);
    background-size: 33px;
    border-radius: 100% ;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.flex-line {
    width: 302px;
    height: 1px;
    left: 6.86%;
    right: 6.86%;
    top: 86.24%;
    bottom: 13.59%;
    color:  #2E405A;
}

h1 {
height: 28px;
top: 350px;
left: 24px;
position: absolute;
left: 6.86%;
right: 6.86%;
top: 58.72%;
bottom: 36.58%;
font-family: ;

color: #FFFFFF;




}




body {
  
    background-color:#0D192C;
}